@import "../../../../../const.scss";

.group-details {
  max-width: $maxWidth;
  margin-top: 3vh;

  cursor: pointer;

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .row-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    p,
    span {
      font-size: 18px;
      width: 50%;
      margin: 5px 0;
    }

    p {
      font-weight: bold;
      min-width: fit-content;
    }

    span {
      font-style: italic;
    }
  }
}
