@import "../../../../const.scss";

.img-container {
  width: 800px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px dashed $primaryColor;
  border-radius: $borderRadius;
  margin: 0 auto;
  padding: 10px;

  &:hover {
    opacity: 0.4;
    background-color: $thirdColor;
  }
}

button {
  width: 800px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .img-container {
    width: 350px;
    height: 250px;
  }

  button {
    width: 350px;
  }
}
