@import "../../../../../const.scss";

.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $maxWidth;
  margin-top: 3vh;

  app-reports-filters {
    width: 90%;
  }

  cursor: pointer;

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .reports-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    app-report-card {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .empty-info {
    margin-top: 40px;
  }
}
