<section class="reset-password-section">
  <p class="header">
    Please type your new password in order to reset your password
  </p>
  <form class="reset-password-form" [formGroup]="resetPasswordForm">
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="New password" required minlength="{{ constants.minPasswordLength }}"
        maxlength="{{ constants.maxPasswordLength }}" formControlName="newPassword" />
      <mat-error *ngIf="resetPasswordForm.get('newPassword').invalid">{{
        formHelper.getErrorMessage(resetPasswordForm, "newPassword")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Confirm password" maxLength="{{ constants.maxPasswordLength }}"
        required formControlName="confirmPassword" />
      <mat-error *ngIf="resetPasswordForm.get('confirmPassword').invalid">{{
        formHelper.getErrorMessage(resetPasswordForm, "confirmPassword")
      }}</mat-error>
    </mat-form-field>
    <button type="submit" class="primary-button" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid">
      Reset password
    </button>
  </form>
</section>
