$primaryColor: #212121;
$secondaryColor: #ffffff;
$thirdColor: #343a40;
$destructiveColor: #f03448;
$greenColor: #56a86c;
$blueColor: #bac7ff;

$maxWidth: 1600px;
$borderRadius: 10px;
$boxShadow: 1px 1px $thirdColor;

$scrollSectionHeight: 70vh;
