<section class="reset-password-section">
  <p class="header">
    Please type your email address in order to reset your password
  </p>
  <form class="reset-password-form" [formGroup]="resetPasswordForm">
    <mat-form-field appearance="outline">
      <input matInput type="email" placeholder="Email address" required email formControlName="email" />
      <mat-error *ngIf="resetPasswordForm.get('email').invalid">{{
        formHelper.getErrorMessage(resetPasswordForm, "email")
      }}</mat-error>
    </mat-form-field>
    <p class="reset-password-text" (click)="resetPasswordToggled.emit(false)">
      Do you remember your password? Just sign in!
    </p>
    <button type="submit" class="primary-button" (click)="sendResetPassword()" [disabled]="resetPasswordForm.invalid">
      Send reset password link
    </button>
  </form>
</section>
