@import "../../../../const.scss";

.reset-password-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  max-width: $maxWidth;
  height: 100%;

  .header {
    padding: 20px;
  }

  .reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .reset-password-text {
      color: $thirdColor;
      margin-top: 10px;
      text-align: center;

      cursor: pointer;

      &:hover {
        color: $blueColor;
      }
    }
  }
}
